* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
}

.header {
    display: flex;
    gap: 20px;
    align-items: left;
    margin: 10px;
    border-radius: 10px;
    background-color: #573737;
    color: white;
    text-align: left;
    padding: 20px 20px;
}

.header a {
    align-self: center;
}

.dynamic-content {
    display: flex;
    flex: 1;
}

.sidebar {
    margin: 10px;
    border-radius: 10px;
    background-color: #354e36;
    width: 250px;
    color: white;
    padding: 20px;
}

.main-content {
    margin: 10px;
    border-radius: 10px;
    background-color: #493649;
    flex: 1;
    padding: 20px;
}